<!-- Mempelajari tag-tag aja saja yang ada di :
1.head = <title>title</title> ini judul halaman 
        <style></style> ini  tag css
        <script>javascript</script> tag untuk javascript
        <meta>meta ini untuk mendekripsikan website kita. contoh = <meta charset="UTF8"><meta name="description" content="Belajar HTML">
        <meta name="keyword" content="HTML,CSS,JavaScript">
        <meta name="author" content="M.Hamas Ikhlas">

2.body = teks ( <h1></h1> sampai <h6></h6> untuk membuat text menjadi besar dan <p></p> untuk membuat paragraf) 
         pendukung text (<br> menambah baris bari <hr> menambah garis horizontal, <em></em> <strong></strong>)
         gambar (<img> menambahkan gambar)
         hyperlink (<a></a> untuk memasukan link )
         list (<ul></ul>, <ol></ol>, <li></li>, <dl></dl>, <dt></dt>, <dd></dd>)
         table (<table>, <thead>, <tbody>)
         form ( <form>, <input>, <select>, <button>)
         script(<script></script>)
         object (<object></object>)
         grouping (<div>, <span>)
         komentar 

         struktur tag : <namatag atribut="nilai">
        contoh = <body bgcolor="lightblie">
    atribut global : ( acceskey, class, id, dir, lang, style, tabindex, title) -->